.card-detail-root{
    /* width: 100vw; */
    /* height: 100vh; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 5rem;


}
.shopping-area{
    /* width: 60rem; */
    border: 1px solid gray;
    display: flex;
    margin: 1rem;
}
.shopping-area-image{
    width: 20rem;

}
.shopping-area-image >*{
    padding: 1rem;

}
.shopping-area-image img{
    width: 100%;
}
.shopping-area-image-other{
    display: flex;
    width: 25rem;
    flex-wrap: wrap;
}
.shopping-area-image-other img{
    width: 5rem;
    padding: 0.5rem;
    border: 2px solid gray;
    margin: 0.5rem;
    cursor: pointer;
}
.shopping-area-desc{
    /* width: 22rem; */
    padding: 0 3rem;
    flex-grow: 1;
}
.shopping-area-desc > *{
    margin-top: 1.5rem;
}
.shopping-area-desc p:nth-child(2){
    font-size: 0.8rem;
    color: rgb(255, 132, 0);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.shopping-area-desc h4{
    color: #ff5722;
    display: flex;
    align-items: flex-start;
}
.shopping-area-desc h4 span{
    color: black;
    font-size: 1rem;
    text-decoration: line-through;
    margin-left: 0.5rem;
    
}
.comment-area{
    min-width:20rem;
    /* height: 65vh; */
    border: 1px solid rgb(205, 205, 236);
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(227, 225, 222, 0.905);

}
.comment-area-form{
    height: 100%;
    min-width: 100%;
}
.comments-area{
    padding: 2rem;


}
.comment-card-root{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.comment-card{
    width: 20rem;
    height: 10rem;
    background-color: #e5c9c0;
    margin: 1rem;
    padding: 1rem;
    color: rgb(0, 0, 0);
    overflow: auto;
}
.comment-card h6{
    text-decoration: underline;
}
.shopBasketDetail{
    position:fixed;
    right:10% ;
    top: 10%;
    /* background-color: rgba(25,35,125,0.5); */
    z-index: 999;
    transition: all 0.8s;
    cursor: pointer;
    background-color: #ff5722;
    opacity: 0.5;
    border-radius: 50%;
    padding: 0.7rem;

}
.shopItem{
    font-size: 3rem;
    color: black;
}

@media screen and (max-width:600px) {
    .shopping-area{
        flex-wrap: wrap;
    }
}
