/* ---NavBar---- */
.App{
    /* background-color: #f3f7f2; */
    display:flex;
    justify-content: space-between;
    /* min-height: 7vh; */
    align-items: center;
 
}

.toggle{
    background-color:#b0bec5;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 
.toggle > *{
    color: white;
}
.nav-item-categories{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 20rem; */
}

.nav-item img{
    object-fit: cover;
    object-position: 0 60%;
    cursor: pointer;
}
.nav-items{
    /* margin-right:0.5rem; */
    width: 8rem;
    /* height: 2.5rem; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    /* border-radius: 5rem; */
}
.nav-items-active{
    /* margin-right:0.5rem; */
    width: 8rem;
    border-bottom: 2px solid #f4511e;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-weight: 900;
    transition: all 0.8s;
    color: #f4511e;
}
.shop{
    height: 2rem;
    width: 6rem;
    color:#f4511e ;
}
.badgeCont{
    position: relative;
}
.badge{
    position: absolute;
    right:1.5rem ;
    color:#000000 ;
    font-size: 0.8rem;
    top: 0;
 
}
/* .nav-items:hover, .nav-items:focus{
   background-color: #ddbfea;
    transition:  background-color 0.8s;
    
} */
.form-control{
    max-width: 10rem;
}



.nav-item img{
    width: 12rem;
    height: 5rem;
    object-fit: cover;
}

.shopBasketNav{
    display: block;
    transition: all 0.8s;
    cursor: pointer;
    background-color: #ff5722;
    opacity: 0.5;
    border-radius: 50%;
    padding: 0.7rem;

}
.shopItem{
    font-size: 3rem;
    color: black;
}